<div class="grid grid-cols-2 gap-5">
  <div class="bg-slate-100 hover:bg-slate-200 shadow-md flex justify-center">
    <img src="{{photo?.attributes?.image?.data?.attributes?.url}}" alt="">
  </div>
  <div class="flex flex-col font-medium">
    <div>
      <span>{{'Evento: '}}</span>
      <span class="capitalize underline">{{photo?.attributes?.event?.data?.attributes?.name}}</span>
    </div>

    <div>
      <span>{{'Fotógrafo: '}}</span>
      <span>{{photo?.attributes?.photographer?.data?.attributes?.fullName}}</span>
    </div>

    <div>
      <span>{{'Formato: '}}</span>
      <span>{{photo?.attributes?.image?.data?.attributes?.mime}}</span>
    </div>

    <div *ngIf="photo">
      <span>{{'Dimensiones: '}}</span>
      <span *ngFor="let key of Object.keys(photo.attributes.image.data.attributes.formats)">
          {{key}}</span>
    </div>

    <div class="mt-5">
      <span>{{'Precio: '}}</span>
      <span>{{photo?.attributes?.cost|currency}}</span>
    </div>

    <button class="btn-black mt-5 w-48" (click)="addToCart()">{{'Agregar al carrito'}}</button>

  </div>
</div>
