<div class="grid grid-cols-3 gap-5 mt-8">
  <ng-container  *ngFor="let photo of (photos$|async)?.data">
    <app-photo [photo]="photo"></app-photo>
    <!--.attributes.image.data-->
  </ng-container>
</div>

<app-modal *ngIf="create" [title]="'Nuevo evento'" (closeEvent)="close()">
  <form (submit)="submit()" [formGroup]="photoForm" class="space-y-3">
    <div class="grid grid-cols-5 gap-4">
      <label class="flex flex-col justify-center items-center bg-slate-200 h-24 w-24 relative shadow-md">
          <i class="uil uil-image-plus text-5xl"></i>
        <input type="file" class="hidden" accept="image/*" multiple (change)="change($event)"/>
      </label>

      <div *ngFor="let image of images,let index=index" class="relative h-24 w-24">
      <img alt="" src="{{image}}"  class="object-cover h-full w-full border-2 shadow-md">
        <button class="px-1 py-0 bg-black bg-opacity-50 rounded-full absolute bottom-0 right-0"
                (click)="removeFile(index)">
        <i class="uil uil-trash text-red-400"></i>
        </button>
      </div>

    </div>

    <div>
      <div>
        <label for="cost">{{'Costo'}}</label>
        <input [formControlName]="'cost'" type="number" id="cost" class="w-full">
      </div>

      <div class="pt-8 space-y-3">
        <button class="btn-black w-full" [disabled]="photoForm.invalid">{{'Agregar'}}</button>
        <button class="btn-cancel w-full" type="button" (click)="close()">{{'Cerrar'}}</button>
      </div>

    </div>
  </form>
</app-modal>
