<div class="flex justify-center">
  <div class="flex flex-col justify-center w-1/2">
    <div class="flex justify-between mb-5">
      <span class="font-medium uppercase">{{amount + ' Fotos'}}</span>
      <button class="p-0 text-gray-500 hover:text-red-500 underline" (click)="removeAll()">{{'Remover todo'}}</button>
    </div>
    <div class="flex flex-col gap-5">
      <div class="flex justify-between font-medium" *ngFor="let item of cart?.data">
        <div class="flex gap-5 text-sm">
          <div class="bg-slate-100 hover:bg-slate-200 shadow-h-24 w-24 flex justify-center">
            <img class="h-24 object-cover" alt=""
                 src="{{item?.attributes?.photo?.data?.attributes?.image?.data?.attributes?.url}}"/>
          </div>
          <div>
            <div>
              <span>{{'Evento: '}}</span>
              <span
                class="capitalize">{{item?.attributes?.photo?.data?.attributes?.event?.data?.attributes?.name}}</span>
            </div>
            <div>
              <span>{{'Formato: '}}</span>
              <span>{{item?.attributes?.photo?.data?.attributes?.image?.data?.attributes?.mime}}</span>
            </div>
            <div>
              <span>{{'Dimensiones: '}}</span>
              <span
                *ngFor="let key of Object.keys(item.attributes.photo.data.attributes.image.data.attributes.formats)">
                    {{key}}</span>
            </div>
            <button class="p-0 mt-2 text-gray-500 hover:text-red-500 underline" (click)="remove(item.id)">{{'remover'}}</button>
          </div>
        </div>

        <div>
          <span>{{'Precio: '}}</span>
          <span>{{item?.attributes?.photo?.data?.attributes?.cost|currency}}</span>
        </div>

      </div>
    </div>

    <div class="flex flex-col items-end mt-10">
      <div class="font-medium uppercase">
        <span>{{'Total: '}}</span>
        <span>{{totalPrice|currency}}</span>
      </div>
      <button class="btn-black mt-2 w-48 block" (click)="payment=true">{{'Comprar'}}</button>
    </div>

  </div>
</div>

<app-modal *ngIf="payment && photos.length>0" (closeEvent)="payment=false" [title]="'Completar pago'">
  <app-payment (closeEvent)="payment=false" [price]="totalPrice" [photos]="photos" [urls]="urls"></app-payment>
</app-modal>
